@media screen and (max-width:620px) {
   .ui.cards {font-size: calc(10px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));}
   .ui.button {font-size: calc(10px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));}
}
.myHead{
	font-weight:bold;
	font-size: 32px;
	margin:40px;
}
img {
	max-width: 100%;
}
 .mybtn {
    display: inline-block; 
    background: #8C959D; 
    color: #fff;
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 3px; 
   }
.myContainer
{
    width: 80%;
    max-width: 1024px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    min-height: 950px;
}
.mylytlebtn {
	width: 10px;
	height: 10px;
}
.myFluid {
	max-width: 100%;
}
.my80prc {
	
}
.myCenterChild {
	align-self: center;
}
.mySection {
	height: 300px;
}
.mymrgbtm {
	margin-bottom: 40px;
}
.mymrgCenter {
	margin-left: auto;
	margin-right: auto;
}
.mypd40 {
	padding: 40px;
	clear: both;
}
.myInline {
	display: inline-flex !important;
}
.myLeft, .myRight {
	width: 49%;
}
.myLeft {
	float: left;
}
.myRight {
	float: right;
}
.ui.button {
	max-width: 400px;
}
.myCenter {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: justify;
}
p  {
	margin-bottom:10px !important;
}

.myFlex{
	display: flex;
}
.myBlock {
	display: block;
}
.myVCenter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.myDescription{
	margin-bottom: 0 auto;
}
.ui.stackable.inverted.divided.grid {
	flex-wrap: nowrap;
	justify-content: center;
}
.ui.inverted.vertical.footer.segment {
	margin-top: 40px;
}
.cartPageConteiner {
	width: 80%;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cartPageName {
	width: 150px;
	margin-left: 20px;
}
.cartPageTitle {
	width: 200px;
	margin-left: 20px;
}
.cartPagePrice {
	width: 50px;
	margin-left: 20px;
}
.cartPageAmount {
	width: 120px;
	margin-left: 20px;
}
.cartPageSection {
	height: 200px;
}
